[submodule "cv_generator"]
	path = cv_generator
	url = git@github.com:emShalaby/cv_generator.git
[submodule "shopping_cart"]
	path = shopping_cart
	url = git@github.com:emShalaby/shopping_cart.git
[submodule "battleship"]
	path = battleship
	url = https://github.com/emShalaby/battleship.git
[submodule "testing_practice"]
	path = testing_practice
	url = https://github.com/emShalaby/testing_practice.git
[submodule "memory_game"]
	path = memory_game
	url = https://github.com/emShalaby/memory_game.git
